@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-hoefler-text);
  --font-heading: var(--font-interstate);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-hoefler-text), Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-interstate), Arial, Helvetica, sans-serif;
}
